
.navbar{
    text-decoration: none;
    /* display: inline; */
    /* float: left; */
   margin-top: 50px;
   /* clear: both; */
}
.header li{
    display: inline;
    padding-right: 10px;
}
.sign{
    float: right;
   
}
.logo{
    float: left;
    margin-right: 100px;
    clear: left;
    margin-top:0 ;
}
.menu{
    
   
}