
.navbar{
    text-decoration: none;
    /* display: inline; */
    /* float: left; */
    padding-top: 35px;
   /* clear: both; */
   color: white;
}
body{
    background: radial-gradient(circle at 94.02% 88.03%, #2882e9, transparent 100%),radial-gradient(circle at 25.99% 27.79%, #1ce799, transparent 100%),radial-gradient(circle at 50% 50%, #000000, #000000 100%);
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;

}
.header{
   background-color: #333;
    height: 100px;
    width: 100%;
    background-color: rgba(0,0,0,35%);
    margin: 0px;
    position: fixed;
    color: white;

    
}
.header li{
    display: inline;
    padding-right: 15px;
    opacity: 100%;
    color: white;

}
.header li a{
    text-decoration: none;
    color: white;

}
.sign{
    float: right;
    
}
.logo{
    float: left;
    margin-right: 100px;
    clear: left;
    margin-top:0 ;
}
.sign{
    margin-right:10px;
    border-radius: 5px;
    text-align: center;
    border: solid 1px rgb(126,135,216);
    background-color: rgb(126,135,216);
    color: black;
    padding: 5px;
    float: right;
}
.menu{
    border-radius: 5px;
    text-align: center;
    /* border: solid 1px greenyellow;
    background-color: greenyellow; */
    color: black;
    padding: 5px;
    float: left;
    
    margin-right: 10px;
}
.sign:hover{
    border: solid 1px green;
    background-color: green;
    color: white;
}
